annotated-types
anyio
certifi
click
colorama
cramjam
dnspython
email-validator
fastapi
fastparquet
fsspec
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
numpy
orjson
packaging
pandas
pyarrow
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
six
sniffio
starlette
typing_extensions
tzdata
ujson
uvicorn
watchfiles
websockets
